/* Style for the result container */
#result-container {
  margin-top: 20px;
}

/* Style for generated images */
#result-container img.generated-image {
  max-width: 500px;
  max-height: 500px;
  margin: 5px;
  display: block;
}

/* Style for the result table */
#result-container table {
  border-collapse: collapse;
  margin-top: 20px;
}

#result-container table, #result-container th, #result-container td {
  border: 1px solid black;
}

#result-container td {
  text-align: center;
  position: relative;
}

.character-cell {
  position: relative;
  text-align: center;
}

.character-icon {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: auto;
}

/* Style for toggle containers */
.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

/* Style for toggle switches */
.toggle-switch {
  margin-left: 5px;
}

/* Style for character cells */
.character-cell {
  text-align: center;
  vertical-align: middle;
  width: 200px;
  border: 1px solid black;
}

/* Style for toggle cells */
.toggle-cell {
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}